SERVICE_NAME=media

HTTP_PORT=8004
GRPC_PORT=9004

DB_CONN="host=localhost port=54400 user=me dbname=api password=password"
DB_PORT=54400
DB_USER=me
DB_PASS=password
DB_NAME=api

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=