SERVICE_NAME=rbac

HTTP_PORT=8009
GRPC_PORT=9009

DB_CONN="host=localhost port=54409 user=me dbname=api password=password"
DB_PORT=54409
DB_USER=me
DB_PASS=password
DB_NAME=api

AUTOMIGRATE=true
NETWORK=backend
VAULT_ADDRESS=http://0.0.0.0:8200
VAULT_TOKEN=myroot
CONSUL_ADDRESS=http://0.0.0.0:8500
DB_VOLUME=./.docker/data/postgres

TOKEN=